# Exercícios

## 1) Considerando o código abaixo, faça:
    -> Crie um df a partir de data cujo index seja labels. Faça os imports necessários
    -> Preencha os valores faltantes com a média dos valores
    -> Retorne uma lista dos animais únicos
    -> Compute as estatísticas básicas (contagem, soma, média, desvio padrão e variância)

In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [65]:
# Novo dataframe com label nos index
dfData2 = pd.DataFrame(data = data, index = labels)
dfData2

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [41]:
# Preencher valores em branco com a media da coluna
dfData3 = dfData2
dfData3['age'] = dfData2['age'].fillna(dfData2['age'].mean())
dfData3['visits'] = dfData2['visits'].fillna(dfData2['visits'].mean())
dfData3.head()

  animal     age  visits priority  vistsUpdate  maisvisitas
a    cat  2.5000       1      yes            2          2.5
g  snake  4.5000       1       no            2          2.5
h    cat  3.4375       1      yes            2          2.5
j    dog  3.0000       1       no            2          2.5
c  snake  0.5000       2       no            4          6.0

In [20]:
# Lista de animais unicos
dfData3['animal'].unique()

array(['cat', 'snake', 'dog'], dtype=object)

In [21]:
dfData3.describe()

             age     visits
count  10.000000  10.000000
mean    3.437500   1.900000
std     1.770711   0.875595
min     0.500000   1.000000
25%     2.625000   1.000000
50%     3.218750   2.000000
75%     4.234375   2.750000
max     7.000000   3.000000

## 2) Considerando o mesmo código, faça:
    -> Crie uma função que multiplique o número de visitas por 2. Retorne o data frame completo com valores atualizados
    -> Crie uma função que insere uma coluna que contenha um ranking dos animais mais visitados. Retorne o dataframe ordenado de forma descendente
    -> Verifique se os animais da seguinte lista pertencem aos dados originais: New_animals = [‘cow’,’horse’,shark’]

In [63]:
dfData4 = ''
dfData4 = dfData3
New_animals = ['cow','horse','shark']

def colunax2(df):
    df = pd.DataFrame(df)
    return df*2

def rank(df):
    df = pd.DataFrame(df)
    return df.rank()

def sorteamento(df):
    df = pd.DataFrame(df)
    return df.sort_values(["maisvisitas"], axis=0, 
                 ascending=True, inplace=True)


dfData4['vistsUpdate'] = colunax2(dfData4['visits'])
dfData4['maisvisitas'] = rank(dfData4['visits'])

print(dfData4.head())
print(dfData4['animal'].isin(New_animals))

  animal     age  visits priority  vistsUpdate  maisvisitas
a    cat  2.5000       1      yes            2          2.5
g  snake  4.5000       1       no            2          2.5
h    cat  3.4375       1      yes            2          2.5
j    dog  3.0000       1       no            2          2.5
c  snake  0.5000       2       no            4          6.0
a    False
g    False
h    False
j    False
c    False
e    False
i    False
b    False
d    False
f    False
Name: animal, dtype: bool

## 3) Crie uma função que filtre as linhas do df no código abaixo de acordo com a palavra-chave passada como parâmetro (apenas estado):

In [64]:
df = pd.DataFrame({'DateofBirth':['1986-11-11','1999-05-12','1976-01-01',
                                  '1986-06-01','1983-06-04','1990-03-07',
                                  '1999-07-09'],
                   'State':['NY','TX','FL','AL','AK','TX','TX']},
                 index=['Jane','Nick','Aaron','Penelope','Dean',
                        'Christina','Cornelia'])
print(df)

          DateofBirth State
Jane       1986-11-11    NY
Nick       1999-05-12    TX
Aaron      1976-01-01    FL
Penelope   1986-06-01    AL
Dean       1983-06-04    AK
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX

In [71]:
df.loc[df['State'] =='NY']

     DateofBirth State
Jane  1986-11-11    NY

In [75]:
def dfFilter(df,filtro):
    df = pd.DataFrame(df)
    #df =  pd==filtro
    df = df.loc[df['State'] == filtro]
    
    return df


dfFilter(df,'TX')

          DateofBirth State
Nick       1999-05-12    TX
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX